<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style.css" type="text/css"/>
    </head>
    
    <body>
        <div class = "addPage">
            <img class="home_button" src="img/home.png" width="40" height="40" alt="">
            <div class="addBox">
                <form class = "form" enctype="multipart/form-data">
                    <h1 class="form_title">Добавление новой записи</h1>
                    <input type="text" class="form_input" placeholder="Наименование записи" name = "note_name" required>
                    <textarea rows = "1" class="form_input" placeholder="Текстовая запись" name = "note" required></textarea>
                    <input type="file" class="form_input" name="filedata"  multiple>
                    <div class="form_chips">
                        <div class="chips_title">Метки</div>
                        <div class="chips_content">
                            <ul>
                                <% for(let i = 0; i < 4; i++){ %>
                                    <li><%=chips[i].chips %></li>
                                <%}%>
                                <button type="button" class = "add_chip">+</button>
                            </ul>
                        </div>
                    </div>
                    <input type="button" class="form_button" value="Добавить"></input>
                </form>
            </div>
        </div>
    </body>
    <script src = "js/addPage.js"></script>
</html>