<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style.css" type="text/css"/>
    </head>
    <body>
        <div class = "box">
            <div class = "text_box">Электронная записная книжка</div>
            <div class = "button_box">
                <button class = "startPage_button">Ввести новую запись</button>
                <button class = "startPage_button">Поиск записей</button>
            </div>
        </div>
    </body>
    <script src = "js/startPage.js"></script>
</html>